.containeur_project h1 {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.fond_project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px 0px;
  justify-content: center;
  margin: 6em;
}
.nav-project {
  text-decoration: none;
  color: black;
}
