.containeur_project h1 {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.fond_project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px 0px;
  justify-content: center;
  margin: 6em;
}
.nav-project {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 768px) {
  .fond_project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
          margin: 0;
  }
  .fond_project img {
    width: 100%;

  }
}
  
