.home_containeur {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.home{
    display: flex;
  justify-content: space-around;
  flex-direction: row;
}
@media screen and (max-width: 1000px) {
.home{
  margin-bottom: 15rem;
}
}