:root {
  --body-bg-color: rgb(254, 236, 230);
  --body--gradient-bg-color: linear-gradient(
    0deg,
    rgba(254, 236, 230, 1) 95%,
    rgba(177, 160, 155, 1) 100%
  );
  --line-btn-navbar-color: #66b7ad;
}
