:root {
  --body-bg-color: rgb(254, 236, 230);
  --body--gradient-bg-color: linear-gradient(0deg, rgba(254,236,230,1) 45%, rgba(255,239,233,1) 100%);
  --line-btn-navbar-color: #66b7ad;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: var(--body-bg-color);
  background: var(--body--gradient-bg-color); 
  overflow-x: hidden;
}
html, body { height: 100%; }